<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="../../../static/styles.css">
    </head>
    <body>
        <img src='../../static/images/majorArcana/0.jpg' alt='The Fool'>
    <div id='wrapper'>
        <div id='content'>
            <p>
        <ol class="testclass">
        <li> Intuitive Interpretation - The Fool</li>
        <li>Where did the The Fool come from? Where is The Fool going?</li>
        <li>A white Sun rises in the east; gaining momentum, energy. High above the horizon, </li>
        <li>but not directly overhead; not yet fully expressed. In process. One step ahead, The </li>
        <li>Fool leads the procession of White Light, bringing into being everything and more,</li>
        <li>containing every possibility, the source of pure potential. Immanent and </li>
        <li>Transcendent.</li>
        <li>Mountain Peaks, white like the Sun, project new heights of conscious awareness. </li>
        <li>Blue Mountains below a yellow Sky - the earth is lifted up! as The Fool ventures with</li> 
        <li>lofty ambition into the Wilderness; the  majestic, awesome power of uncultivated</li> 
        <li>Life. </li>
        <li>Skin the color of Sky, neither what you would expect. The Fool is emanation, </li>
        <li>representation, manifestation of what Is above and beyond. Zero hovers overhead,</li>
        <li>surreal. All and Nothing.</li>
        <li>Headdress made of leaves – no crown, unbound. Leaves belong to trees, as</li> <li>alchemists, turning sunlight into nourishment. Elemental transmutation.</li> 
        <li>Fool as fractal. Leaves surrounding yellow circles; lines, red like the Feather, </li>
        <li>dissecting. Into what? Feathers belong to birds, to aid in flight. From Sky to Earth </li>
        <li>and back again. The internalization of an external process, and vice versa. </li>
        <li>The Fool wears black? The Fool wears clothes? Particularly a garment so worn,</li> 
        <li>tattered. More symbol than necessity, of the relationship between scarcity and</li> 
        <li>abundance.  An outer mystery, a shabby veil, intimates layers of experience. The </li> <li>Fool walks in tights the color of the Ground - stable, solid, fertile – treading in yellow</li>
        <li>shoes of celestial origins. The Sun-god, embodied, bringing light to the world.</li>
        <li>What does The Fool carry in Its Satchel? Why does It carry a Satchel at all? Small </li>
        <li>enough, it could not hold more than what is needed. The Fool is not worried; The </li>
        <li>Fool does not hoard. </li>
        <li>An Eagle’s head on the front of the Satchel, level with The Fool’s, faces east. Bird of </li>
        <li>prey, hierarchical tendency. The Fool leaves the past behind. Meanwhile, the past</li> 
        <li>accompanies the present into the future. Perhaps The Fool is not as carefree as</li> 
        <li>appearance would suggest - toting baggage, holding memories. </li> 
        <li>Chin up, head back, moving westward. With graceful bearing, fine features, flowing </li>
        <li>movement, and delicate touch, The Fool responds to the prompting of the active</li>
        <li> principle and journeys into the unknown, engaging the trial that invokes self-</li>
        <li>confidence. Expansive Consciousness, Adventurous Spirit. </li>
        <li>A White Rose absorbing, containing, reflecting the light of the Sun. The Fool holds</li> 
        <li>love, desire, romance – matters of the heart – sensuality, beauty – quality of</li> 
        <li>experience and depth of emotion, lightly in Its left hand. Aspects of the human </li>
        <li>experience which exist in relation and reinforce attachment; The Fool is receptive </li>
        <li>but does not cling. </li>
        <li>Alone, but not lonely, a White Dog follows The Fool toward the edge of a precipice.</li> 
        <li>The Dog offers loyalty despite the threat of danger, companionship in the unknown. </li>
        <li>Dog, Rose, Sun aligned with feet, heart, head – in faith, trust, boundless energy, pure</li>
        <li>intention. </li>
        </ul>
            </p>
        </div>
        <p>
        <nav class='nav'><a href="../../index.html">Back to Home</a></nav>
        </p>
        <div id='footer'>
            <small>Copyright &copy; 2016 Caitlin Watkins</small>
        </div>
    </div>
</body>
</html>


