<!DOCTYPE html>
<html lang="en">
    <head>
       <title>As I Learn Tarot</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../../../static/styles.css">
        <link rel="shortcut icon" href="../../../Chrysopoea_of_Cleopatra.ico/favicon.ico">
    </head>
    <body> 
        <header><h1>Major Arcana</h1></header>
        <nav id="navlist">
            <ul>
                <li><a href="fool.html"><img src='../../../static/images/majorArcana/0.jpg' alt='The Fool'></a></li>
            </ul>
            <p><a href="../home.html">Interpretation Home</a></p>
        </nav>
    </body>
    <footer class='alt'>
        <small>Copyright &copy; 2016 Caitlin Watkins</small>
    </footer>
</html>
