<!DOCTYPE html>
<html lang="en">
    <head>
       <title>As I Learn Tarot</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../../../static/styles.css">
        <link rel="shortcut icon" href="../../../Chrysopoea_of_Cleopatra.ico/favicon.ico">
    </head>
    <body> 
        <header><h1>Voice in the Cards</h1></header>
        <nav id="navlist">
            <ul>
                <li><a href="major/index.html">Major Arcana</a></li>
                <li><a href="minor/index.html">Minor Arcana</a>
                </li>
            <p><a href="../../index.html">Home</a></p>
            </ul>
        </nav>
    </body>
    <footer class='alt'>
        <small>Copyright &copy; 2016 Caitlin Watkins</small>
    </footer>
</html>
