
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>As I Learn Tarot</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="../../../static/styles.css">
    </head>
    <body>
        <header>
            <h1>Wands</h1>
        </header>
        <nav id='navlist'>
        <ul>
            <li><a href=''><img src='../../../static/images/minorArcana/Wands/1.jpg' class='voice' alt='Ace of Wands'></a></li>
            
            <li><a href=''><img src='../../../static/images/minorArcana/Wands/2.jpg' class='voice' alt='Two of Wands'></a></li>
            
            <li><a href=''><img src='../../../static/images/minorArcana/Wands/3.jpg' class='voice' alt='Three of Wands'></a></li>
            
            <li><a href=''><img src='../../../static/images/minorArcana/Wands/4.jpg' class='voice' alt='Four of Wands'></a></li>
                
            <li><a href='five.html'><img src='../../../static/images/minorArcana/Wands/5.jpg' class='voice' alt='Five of Wands'></a></li>
            
            <li><a href=''><img src='../../../static/images/minorArcana/Wands/6.jpg' class='voice' alt='Six of Wands'></a></li>
            
            <li><a href=''><img src='../../../static/images/minorArcana/Wands/7.jpg' class='voice' alt='Seven of Wands'></a></li>
            
            <li><a href=''><img src='../../../static/images/minorArcana/Wands/8.jpg' class='voice' alt='Eight of Wands'></a></li>
            
            <li><a href=''><img src='../../../static/images/minorArcana/Wands/9.jpg' class='voice' alt='Nine of Wands'></a></li>
            
            <li><a href=''><img src='../../../static/images/minorArcana/Wands/10.jpg' class='voice' alt='Ten of Wands'></a></li>
        </ul>   
        <p>
        <a href="../home.html">Back to Voices Home</a>
        </p>
        </nav>
    </body>
     <footer>
        <small>Copyright &copy; 2016 Caitlin Watkins</small>
    </footer>
</html>
