html{
    margin: 0;
    padding: 0;
    background-color: lavender;
}

body {
    font-family: Georgia, "Times New Roman", sans-serif;
    width: 70%;
    margin: 4em auto;
    background-color: antiquewhite;
    border-color: gray;
    border-style: solid;
    border-width: thick;
    padding-left: 2em;
    padding-right: 2em;
    position: relative;
    
    
}

header{
    text-align: center;
    font-style: italic;
    margin: 2em;
    padding-top: 5px;
}

p{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1em;
    padding-left: 5px;
    font-size: 1em;
}

h1{
    
}

h2{
    
}

nav{
    text-align: center;
    padding-bottom: 5px;
  
}

footer.alt{
    position:absolute;
    left:10px;
    bottom:0px;
    height:30px; 
    width:100%;
}

footer {
   position:relative;
   left:10px;
   bottom:0px;
   height:30px;
   width:100%;  
}

img{
    width: 25%;
    height: auto;
    <!--padding: 10px;-->
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-color: lightgray;
    border-style: solid;
    border-width: thick;
    
}

img.voice{
    width: 15%;
    height: auto;
}

img.intuit{
    width: 40%;
    height: auto;
}

img.cube{
    width: 60%;
    height: auto;
    
}

ul{
    list-style-type: none;
}
    
#navlist li
{
display: inline;
list-style-type: none;
padding-right: 10px;
}

<!-- remove dot after number in ordered list http://jsbin.com/ukojo4/132/edit?html,css,output -->

.testclass { 
  
}

.testclass li { 
   counter-increment: item;
}

.testclass li:before { 
  content: counter(item) ' ';
}
ol.none { 
    counter-reset: item;
    list-style-type: none;
    text-align: left;
}
<!-- end comment -->
