
header{
    text-align: center;
}

nav{
    text-align: center;
    padding-bottom: 5px;
  
}

footer.alt{
    position:absolute;
    left:10px;
    bottom:0px;
    height:30px; 
    width:100%;
}

footer {
   position:relative;
   left:10px;
   bottom:0px;
   height:30px;
   width:100%;  
}

img{
    width: 25%;
    height: auto;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto ;
}

img.voice{
    width: 15%;
    height: auto;
}

ul{
    list-style-type: none;
}
    
#navlist li
{
display: inline;
list-style-type: none;
padding-right: 20px;
}

<!-- remove dot after number in ordered list http://jsbin.com/ukojo4/132/edit?html,css,output -->

.testclass { 
  
}

.testclass li { 
   counter-increment: item;
}

.testclass li:before { 
  content: counter(item) ' ';
}
ol { 
    counter-reset: item;
    list-style-type: none;
}
<!-- end comment -->