<header>Seven of Swords - A Close Examination</header>

<img src='../../static/images/minorArcana/Swords/7.jpg'alt='Seven of Swords' height='auto' width='25%'>


<p>This card is predominantly yellow - featuring a large yellow sky (empty apart from the roman numeral VII); a flat, level, yellow surface in the foreground; and a rough, rolling, yellow surface in the background. The sky and foreground are monochromatic, while the background is broken up by jagged black lines and tinged with green and orange. Proportionately, the sky occupies about two-thirds of the image, with the remaining space split evenly into fore-and-background. A range of purple mountains lies low on the horizon.
</p>

<p>A group of three brightly colored and variously patterned tents stand right of center, flying flags from their central poles, in what appears to be a military camp. Two more tents can be seen off in the distance, just in front of the mountains. </p>

<p>A group of three shadowed figures, poised for action, can also be seen in the distance with what looks like a cloud of smoke just behind them. The tallest figure looks to be holding an even taller pole, the other two appear to be holding their arms raised in front of them.</p>

<p>The central figure is that of a man - dark-skinned with black, curly hair wearing a red boxy hat fringed with black fur. His face is very angular, featuring narrow, pointed chin and nose, thin lips slightly parted, heavy black eyebrows, and vacant eyes. He wears a tan, long-sleeved, wide-necked tunic laced at the collar and belted at the waist, over a white undershirt, blue leggings, and red shoes to match his hat. His outfit is very simple in contrast to the somewhat ostentatious hat and shoes.</p> 

<p>He carries five of the seven swords depicted - supporting three against his chest in the crook of his left arm and holding two by their blades in his right hand. The remaining two swords are left standing side-by-side in front of the tents, just on the other side of a set of thin parallel black lines running horizontally across bottom the image. These lines demarcate the smooth surface of the foreground on which the man stands, and rough area of the background, home to the tents and battling figures. </p>

<p>The man is mid-stride, stepping (sprightly) towards the left border of the frame, but also twisted round at the waist, looking back over his left shoulder - feet and head pointed in opposite directions.</p>

