<header>Ten of Swords - A Close Examination</header>

<img src='../../static/images/minorArcana/Swords/10.jpg'alt='Ten of Swords' height='auto' width='25%'>


<p>A pale yellow horizon transitions through dull white patches streaked with thin horizontal black lines into a jet black sky overhead. Below the horizon, light blue hills cast a reddish shadow on the far shore of a dull blue body of water. Across the lake, a light brown bank supports the body of human figure lying face down in the sand. </p>

<p>Judging by the hair and dress, the figure is male. The exposed skin on the back of his neck, as well as the visible part of his tunic, match the color of his short, light brown hair. His right arm lies limp by his side, completely covered by a long, loose, white sleeve. The back of his right hand rests on the sand, thumb curved over open palm to touch the nail of the fourth finger while the index and middle fingers stand erect and the pinkie curls alongside its neighbor. What appears to be a red cloak is draped diagonally over the lower half of his body, from right waist to left shoulder. A bit or red above and below his head makes it seem like he is lying face down in a pool of blood.</p> 

<p>Ten tall swords (about the same size as the swords in VIII) standing in a more or less straight line along his spine. Six swords in the red region, four swords in the tan; three swords in the upper back, three in the lower back, three in the pelvis/sacrum/buttocks, and one in the neck. The swords are tall enough and the perspective such that they reach through each layer of the background - water, earth, levels of sky - so that the silver hilts shine against the black sky. </p>

