<!DOCTYPE html>
<html lang="en">
    <head>
       <title>As I Learn Tarot</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../../../static/styles.css">
        <link rel="shortcut icon" href="../../../Chrysopoea_of_Cleopatra.ico/favicon.ico">
    </head>
    <body> 
        <header><h1>Major Arcana</h1></header>
        <nav id="navlist">
            <ul>
                <li><a href="fool.html"><img src='../../../static/images/majorArcana/0.jpg' alt='The Fool'></a></li>
                <li><a href="magician.html"><img src='../../../static/images/majorArcana/1.jpg' alt='The Magician'></a></li>
                <li><a href="priestess.html"><img src='../../../static/images/majorArcana/2.jpg' alt='The High Priestess'></a></li>
                <li><a href="empress.html"><img src='../../../static/images/majorArcana/3.jpg' alt='The Empress'></a></li>
                <li><a href="Emporer.html"><img src='../../../static/images/majorArcana/4.jpg' alt='The Emperor'></a></li>
                <li><a href="hierophant.html"><img src='../../../static/images/majorArcana/5.jpg' alt='The Hierophant'></a></li>
                <li><a href="lovers.html"><img src='../../../static/images/majorArcana/6.jpg' alt='The Lovers'></a></li>
                <li><a href="chariot.html"><img src='../../../static/images/majorArcana/7.jpg' alt='The Chariot'></a></li>
                <li><a href="strength.html"><img src='../../../static/images/majorArcana/8.jpg' alt='Strength'></a></li>
                <li><a href="hermit.html"><img src='../../../static/images/majorArcana/9.jpg' alt='The Hermit'></a></li>
                <li><a href="wheel.html"><img src='../../../static/images/majorArcana/10.jpg' alt='Wheel of Fortune'></a></li>
                <li><a href="justice.html"><img src='../../../static/images/majorArcana/11.jpg' alt='Justice'></a></li>
                <li><a href="hanged.html"><img src='../../../static/images/majorArcana/12.jpg' alt='The Hanged Man'></a></li>
                <li><a href="death.html"><img src='../../../static/images/majorArcana/13.jpg' alt='Death'></a></li>
                <li><a href="temperance.html"><img src='../../../static/images/majorArcana/14.jpg' alt='Temperance'></a></li>
                <li><a href="devil.html"><img src='../../../static/images/majorArcana/15.jpg' alt='The Devil'></a></li>
                <li><a href="tower.html"><img src='../../../static/images/majorArcana/16.jpg' alt='The Tower'></a></li>
                <li><a href="star.html"><img src='../../../static/images/majorArcana/17.jpg' alt='The Star'></a></li>
                <li><a href="moon.html"><img src='../../../static/images/majorArcana/18.jpg' alt='The Moon'></a></li>
                <li><a href="sun.html"><img src='../../../static/images/majorArcana/19.jpg' alt='The Sun'></a></li>
                <li><a href="judgment.html"><img src='../../../static/images/majorArcana/20.jpg' alt='Judgment'></a></li>
                <li><a href="world.html"><img src='../../../static/images/majorArcana/21.jpg' alt='The World'></a></li>
                
            </ul>
            <p><a href="../home.html">Comparison Home</a></p>
        </nav>
    </body>
    <footer>
        <small>Copyright &copy; 2016 Caitlin Watkins</small>
    </footer>
</html>
