<!DOCTYPE html>
<html lang="en">
    <head>
       <title>As I Learn Tarot</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../../../static/styles.css">
        <link rel="shortcut icon" href="../../../Chrysopoea_of_Cleopatra.ico/favicon.ico">
    </head>
    <body> 
        <header><h1>Minor Arcana</h1></header>
        <nav id="navlist">
            <ul>
                <li><a href="swords/index.html">Swords </a></li>
                <li><a href="cups/index.html">Cups </a></li>
                <li><a href="wands/index.html">Wands </a></li>
                <li><a href="pentacles/index.html">Pentacles</a></li>
                </ul>
            <p><a href="../home.html"> Voice Home</a></p>
        </nav>
    </body>
    <footer class='alt'>
        <small>Copyright &copy; 2016 Caitlin Watkins</small>
    </footer>
</html>
