<!DOCTYPE html>
<html lang="en">
    <head>
        <title>As I Learn Tarot</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="../../static/styles.css">
        <link rel="shortcut icon" href="../../Chrysopoea_of_Cleopatra.ico/favicon.ico">
    </head>
    <body>
        <header><h1>Cube of Space</h1></header>
            <h2>Intro</h2>
                <h3>Preparing the Chrysalis</h3>
    <ul>
        <li>purchasing candles (yellow for will, purple for wisdom) and incense</li>
        <li>lighting my yellow candle. I did not cut the wick, and the flame flared up intensely; I took this to be the ignition of my creative spark</li>
        <li>lighting the incense</li> 
        <li>Taking three deep breaths, I could feel the tightness in my abdomen and tension in my shoulders. I continued breathing, trying to slow my racing thoughts and relax my uncomfortable body</li>
    </ul>
                <h3>Creative Anxiety</h3>
                    <h4>The effort of calming myself enough to begin </h4>
<p>From the tension in my gut, pressure in my head, throbbing sinuses, lump in my throat - I felt my throat constrict and was overwhelmed to the point of tears. The more I focus on the anxiety, the more intense my discomfort becomes. I finally have to make the decision to proceed despite not achieving total calm.  I take my time, as instructed – about 94 minutes total (not counting the weeks of agonized mental preparation).</p>

<p>The overwhelming expectation of exploring to “the limits of my conscious awareness.” Allowing myself the option to stop. Self-Censorship, waiting to feel confident, waiting for options, feeling stuck and indecisive, not knowing where to go or what to do, “am I doing it right?”, struggling to allow images to materialize, afraid of reaching the limit and feeling disappointed</p> 

<p>Finally, curiousity overcomes self-consciousness</p>

<h3>Directions</h3>
<h4>Forward</h4>
    <ul>
        <li>pentagram</li> 
        <li>vaguely familiar space - pastoral landscape, river, hedge</li>
    </ul>
<h4>Backward</h4>
    <ul>
        <li>shift of awareness from mind to body (seeing to feeling), mostly sensations in and around my neck, back, thighs</li>
        <li>feeling sorry for myself that my muscles were so tense</li>
        <li>abrupt shift back to seeing, something that invoked a sense of awe and spaciousness</li>
        <li>transitioning to a much more integrated body-mind awareness</li>
    </ul>
<h4>Right</h4>
    <ul>    
        <li>Unexpectedly encountering people, feeling drawn to embrace them</li>
        <li>Feeling surprise, joy, and tenderness (surprising given my antipathy of late)</li>
    </ul>
<h4>Left</h4>
    <ul>
        <li>Curiously, auditory </li>
        <li>etiological basis of words in sound</li>
        <li>words also featured prominently</li>  
        <li>Finally, feeling comfortable</li>
    </ul>
<h4>Above</h4>
    <ul>
        <li>rapid succession of images, no apparent connection</li>
    </ul>
<h4>Below</h4>
    <ul>
        <li>Amusement, sexuality, wealth, monsters, and fire. </li>
    </ul>
<h4>Inward</h4>
    <ul>
        <li>Gratitude, loving-tenderness, self-acceptance</li> 
        <li>a winged woman riding a horse over a waterfall (a sort-of pegasus)</li>
    </ul>

<h3>Conclusion</h3>
<h4>Reflections</h4>
<ul>
    <li>My mind is full of interesting things! </li>
    <li>Fear of not being creative enough to come up with anything interesting to see or say</li>
    <li>I buried my treasure and suppressed my generosity (buried room of gold coins)</li>
    <li>I am inherently creative and have access to the heights of imagination (winged woman/horse as self-image)</li>
    <li>I have an expansive desire to connect with other people as an extension of my sense of strength and self-confidence (which actually makes a lot of sense as my sun sign is Aquarius)</li>
    <li>giving myself permission to redefine the terms of the exercise helped mitigate the anxiety </li>
    <li>Rather than pursuing to completion the ever-expanding, inexhaustible realm of consciousness, allowing myself to stop when I felt I had reached a stopping point</li>
    <li>no end to imagination</li>
    <li>gratitude, gratitude, gratitude </li>
    <li>exercise in non-attachment, letting go of my desire for understanding in order to fully engage the process</li>
    <li>allowing images that contradict my self-image to surface and challenge my own expectations</li>
</ul>

<h4>Pegasus and Temperance</h4>
<ul>
    <li>Bellerophon riding Pegasus, “symbolic of the spiritual energy that allows access to the realm of the gods.” </li>
    <li>how can I form a deeper connection with this energy? </li>
    <li>Aquarius-sun, wings as movement</li>
    <li>Centaur as Cognitive Dissonance/Personification of Wisdom and said to be symbolic of Sagittarius, my rising sign</li>
    <li>Image search for “winged woman” returns Temperance - integral to engaging my question above - focus on “equanimity” to counteract the anxiety </li>
</ul>

<h4>Final Thoughts</h4>
<ul>
    <li>Working through creative anxiety</li> 
    <li>greater sense of self-confidence and efficacy</li>
    <li>proof that I am capable</li> 
    <li>a portal to self-actualization</li>
</ul>

<h3>Conclusion</h3>
<p>I generally feel more confident engaging activities that I have wanted but been reluctant to pursue.</p>
        
        <p>
        <nav class='nav'><a href="../../index.html">Back to Home</a></nav>
        </p>
    </body>  
    <footer>
        <small>Copyright &copy; 2016 Caitlin Watkins</small>
    </footer>
</html>
