<!DOCTYPE html>
<html lang="en">
    <head>
        <title>As I Learn Tarot</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="../../../static/styles.css">
    </head>
    <body>
        <header>
            <h1>A Close Examination</h1>
            <img src='../../../static/images/minorArcana/Swords/8.jpg' alt='Ace of Swords'>
            <h1>Eight of Swords</h1>
        </header>

        <p>Another empty, grey sky - the same color as sky in <a href='six.html'alt='Six of Swords'>VI</a>, but much larger - occupying even more space than the sky in <a href='seven.html' alt='Seven of Swords'>VII</a>. </p>

        <p>Low hills in the background, left of center, run along the horizon, rising steeply into a tall mountain, slightly darker than the sky. The profile of a castle is set into the mountainside and features a red turret towering above another red roof and at least three black dots which could be windows. So small and dark it&#39;s hardly clear, but there is perhaps a human figure sitting or standing on a step leading up to the chateau, just left of the fourth sword from the right.</p>

        <p>Depending on the perspective, the ground below is either sand dunes and scattered lakes or a sparsely vegetated marsh - all variegated colors and squiggly black lines: reddish-yellow, green, bright yellow, and blue.</p>

        <p>Seven of the eight swords stand in a line, tips of blades buried in mounds of sand, the eighth standing several feet in front of the last sword left of center.</p>

        <p>A woman, taller than any of the swords, wears a red long-sleeved dress with a low v-shaped neck over a light brown undergarment - just a shade darker than her skin. She stands bound by a long strip of cloth (grey like the mountains behind her) wrapped around her arms, waist, and hips.  Her hands are tied behind her back. Another strip of cloth is secured around her head as a blindfold. Her black hair, however, is unbound and appears somewhat windswept.</p>

        <p>She hangs her head slightly, and stands silent, mouth closed. The toes of her yellow boots peek out from beneath the hem of her long red dress. She stands with her right foot on land and her left in water. Her dress is streaked and splattered with yellow mud, as though she&#39;s been dragged through the dirt.</p> 
        
       <p>
        <nav class='nav'><a href="home.html">Back to Swords</a></nav>
        </p>
    <footer>
        <small>Copyright &copy; 2016 Caitlin Watkins</small>
    </footer>
    </body>
    
</html>