<!DOCTYPE html>
<html lang="en">
    <head>
       <title>As I Learn Tarot</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../../../static/styles.css">
        <link rel="shortcut icon" href="../../../Chrysopoea_of_Cleopatra.ico/favicon.ico">
    </head>
    <body> 
        <header><h1>Swords - A Close Examination</h1></header>
        <nav id="navlist">
            <ul>
                <li><a href="ace.html">Ace</a></li>
                <li><a href="two.html">Two</a></li>
                <li><a href="three.html">Three</a></li>
                <li><a href="four.html">Four</a></li>
                <li><a href="five.html">Five</a></li>
                <li><a href="six.html">Six</a></li>
                <li><a href="seven.html">Seven</a></li>
                <li><a href="eight.html">Eight</a></li>
                <li><a href="nine.html">Nine</a></li>
                <li><a href="ten.html">Ten</a></li>
            
            <p><a href="../../../index.html">Back to Home</a></p>
            </ul>
        </nav>
    </body>
    <footer class='alt'>
        <small>Copyright &copy; 2016 Caitlin Watkins</small>
    </footer>
</html>
