<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="../../../static/styles.css">
    </head>
    <body>
        <header><h1>Nine of Swords - A Close Examination</h1></header>
        <img src='../../../static/images/minorArcana/Swords/9.jpg'alt='Nine of Swords'>

        <p>Nine swords, evenly spaced, are suspended horizontally above a person sitting upright in bed. The swords are situated against a black background, similar in proportion to the backgrounds of VII and VIII. With interlocking hilts, the pommel of every second sword extends all the way to the left border of the frame; the tips of all swords disappear beyond the right border. </p>

        <p>A pale skinned person sits upright on top of a thin pink mattress laid across a rectangular wooden bench. A small brown pillow rests at the head of this bed, propped up against the left frame of the image. The pillow is the same color as the bench itself. The bench sits on a thin strip of pale grey floor shown at the bottom of the image.</p> 

        <p>This person could be a man or a woman, but the short blond hair gives the impression of a man.  He wears a white night gown, grey where the folds of the cloth are in shadow. The long sleeves are bunched at the elbows as he holds his face in his hands. He sits front and center, his torso dividing the image into left and right halves, with the roman numeral XI directly overhead. He sits facing the right border of the frame.</p>

        <p>His legs are covered by a blue and yellow patchwork quilt comforter. The blue squares feature the signs of the zodiac, depicted in dots. The yellow squares contain images of red roses (24 shown in total). The comforter covers the right half of the bench. The uncovered half of the sideboard, behind the man and below the mattress and pillow, is etched with a scene depicting  two figures. The figure on the left appears to be reclining against a tree trunk, facing the other figure on the right, who is brandishing a sword and looks like he is lunging to attack. This scene is framed by a black border and the artist placed her signature just right of the frame, centered beneath the man above.</p> 
    </body>
    <footer>
        <small>Copyright &copy; 2016 Caitlin Watkins</small>
    </footer>
</html>
