<!DOCTYPE html>
<html lang="en">
    <head>
        <title>As I Learn Tarot</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="../../../static/styles.css">
    </head>
    <body>
        <header>
            <h1>A Close Examination</h1>
            <img src='../../../static/images/minorArcana/Swords/6.jpg' alt='Six of Swords'>
            <h1>Six of Swords</h1>
        </header>

        <p>As seen from a distance, a lumpy, pale stretch of blue land, scattered with sparse vegetation, declines eastward into a shallow valley before rising gently along a pleated plane. The grey sky above is featureless and flat. A wide, watery expanse fills the space between this place and the only other solid surface depicted in this card – a simple wooden boat, carrying three passengers and six swords.</p>

        <p>The sky is light grey and mostly featureless, apart from a few tree tops scattered along a lumpy strip of land that delineates the horizon.</p>

        <p>The land consists of two distinct hills connected by a shallow valley. From left to right, a small hill hosts a stand of four trees, then declines into a strip of flat land before sloping upward, gently and irregularly, to become another hill sprouting two more groves of trees.</p>

        <p>A man stands at the back of a simple wooden boat holding a long black pole. The pole, or oar, is much taller than the man. He stands with both arms extended, left hand high overhead and right hand below his waist, holding the oar like a gondolier, diagonally across his chest.</p>

        <p>The pale blue water is mostly still, except where it seems to ripple as it reaches the shore. The ripples appear as short, black dots and dashes, whereas solid, wavy lines and alternating shades of light and dark blue depict the agitated water of the boat's wake.</p>

        <p>The oarsman faces the land, and so stands with his back to the viewer. He has short, black hair and wears a thigh-length yellow tunic belted at the waist over a long-sleeved blue blouse, green tights, and tall red boots. He stands astern, feet planted shoulder-width apart astride two separate benches. His right knee is bent as he leans slightly forward, balancing his weight on his left foot.</p>

        <p>The boat carries two passengers, huddled together on the only other bench, positioned in front of the oarsmen. On his right, the woman, wrapped so completely in a yellow cloak as to obscure her figure (making it necessary to assume a gender) sits with a towheaded child, who wears a nondescript dark grey garment.</p>

        <p>Six swords stand erect in the prow, the tips of their blades anchored in the floor boards. The swords are tall, probably on par with the oarsman, and divided roughly into two groups. However, taken together they form an uneven line dividing the boat into fore and aft. Although of similar shape and color, subtle differences in measurement are apparent. The two swords in front of the boy are a bit broader than the four in front of the woman. They all vary in height, but the boy’s are noticeably shorter, and also more widely spaced. The woman’s knees look to be trapped between two of her swords, which are clustered such that the four hilts form a pyramid.</p>

        <p>Due to size and scale, the two trees framing the first grove after the valley in the background appear to be (nearly) aligned with the pommels of the two swords in front of the boy in the foreground, while the last stand of trees looks to be more or less situated between the two groups of swords.</p>
        
       <p>
        <nav class='nav'><a href="home.html">Back to Swords</a></nav>
        </p>
    
    </body>
    <footer>
        <small>Copyright &copy; 2016 Caitlin Watkins</small>
    </footer>
</html>
